<h1>New User</h1>

<div class="login">
  <div class="form">

  <h1>Sign up</h1>

	<%= form_for @user do |f| %>
  	<%= f.label :login %>
    <%= f.text_field :login %>
    
    <%= f.label :password %>
    <%= f.password_field :password %>
  
    <%= f.submit "Create User" %>
  <% end %>

  </div>
</div>

<%= link_to 'Back', users_path %>
