<p id="notice"><%= notice %></p>

<h1><%= current_user ? 'Your Apps' : 'Default Apps' %></h1>

<table>
  <tr>
  <% @apps.each_with_index do |app| %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Color</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= app.name %></td>
          <td><%= app.description %></td>
          <td><%= app.color %></td>
          <td><%= app.status %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</table>

<!-- links for editing association -->
<% if current_user %>
  <%= link_to 'Edit apps', edit_user_path(current_user) %>
<% end %>

<br>